
  @media print {
    body * {
        visibility: hidden;
    }
    #invoice, #invoice * {
        visibility: visible;
    }

    #invoice {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    #btn_change { display: none; }
    #btn_invoice { display: none; }
    #btn_remove {display: none;}
    #action {display: none;}
}
